div.highlight {
    position: relative;
    width: 70%;
}

div.highlight > span.btn-copy {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1rem, .1rem);
    visibility: hidden;
    color: white;
}

div.highlight:hover > span.btn-copy {
    visibility: visible;
}
