.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: white;
}

.hljs {
    color: white;
    background: #242930;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-size: 1rem;
}

.hljs,
.hljs-subst {
    color: white;
}

pre {
    position: relative;
    width: 50%;
}

pre > div{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    cursor: pointer;
    color: white;
    transform: translate(-1rem, .1rem);
    visibility: hidden;
}

pre:hover > div{
    visibility: visible;
}
