body {
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0rem;
  margin: 0;
  font-size: 1em;
  background-color: #282c34;
}

header {
    display: grid;
    grid-template-columns: 9% 1% 90%;
    border-bottom: 3pt solid #5f6361;
    margin-bottom: 0rem;
    padding: 0rem;
    line-height: 0;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background-color: #282c34;
    z-index: 999;
}

header .title {
    padding: 0.4rem;
    margin-left: 1rem;
}

header .menu {
    padding: 0.4rem;
}

header ul {
    padding: 0;
}

header ul > li {
    display: inline-block;
    list-style: none;
    margin-left: 2rem;
    padding-top: 0.3rem;
    font-size: 1.3em;
}

footer {
    background-color: #282c34;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    font-size: .6em;
    border-top: 3pt solid #5f6361;
}

.page{
    display: grid;
    grid-template-columns: 23% 1% 76%;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
}

.sidebar{
    background-color: #282c34;
    padding-top: 2rem;
    height: 100%;
    min-height: 100vh;
    font-size: 1.2em;
}

.content{
    width: 80%;
    background-color: #282c34;
    margin: 2rem;
    height: 100%;
    min-height: 100vh;
    font-size: 1.2em;
}

.content img {
    width: 70%;
}

li.collapse {
    list-style-type: none;
    cursor: pointer;
}

li.collapse:before {
  content: "\f054";
}

li.collapse.open:before {
  content: "\f078";
}

li.collapse > ul{
    display: flex;
    flex-direction: column;
    list-style-type: "\f044  ";
    visibility: collapse;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.1s linear;
}

li.collapse.open > ul{
    visibility: visible;
    opacity: 1;
}

blockquote {
    border-left: .5rem solid #27c25b;
    margin: 1em 0em;
    padding: .5em 1em;
    background-color: #20252b;
    color: white;
}

table {
    background-color: #242930;
}

table thead {
    color: green;
    background-color: #1a1f24;
}

/*** sidebar ***/
div.delimiter {
    width: 3pt;
    background-color: #5f6361;
    cursor: col-resize;
}

div.delimiter:hover {
    background-color: #727372;
}

.breadcrumbs {
    color: #99a1ff;
    padding: 1rem;
    line-height: 1.5em;
    border-bottom: 4pt solid #5f6361;
}

/* Code blocks */
code {
    /* will target single backtick */
    color: green;
    font-size: 1.5em;
}

/* will target tripple backtick */
div.highlight {
    position: relative;
    overflow: scroll;
}

div.highlight > pre {
    background-color: #191c22 !important;
    width: max-content;
    min-width: 100%;
    padding: 1rem;
    padding-top: 2rem;
}

div.highlight > span.btn-copy {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1rem, 1rem);
    visibility: hidden;
    color: white;
}

div.highlight:hover > span.btn-copy {
    visibility: visible;
}

a {
    color: #16b6c4;
    text-decoration: none;
}

a:hover{
    color: #27c25b;
}

/* ============ Media Queries (Small Devices) ================== */
@media only screen and (max-width: 800px) {

    header {
        display: flex;
        flex-direction: row;
        font-size: 0.6em;
    }

    .page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 2rem;
        padding: 1rem;
        font-size: 0.9em;
    }

    .content {
        width: 100%;
        margin: 1rem;
        font-size: 1em;
    }

    .sidebar {
        display: none;
    }

    div.delimiter {
        display: none;
    }

    blockquote {
        border-left: .3rem solid #27c25b;
        margin: 1em 0em;
        padding: .3em 1em;
        background-color: #20252b;
        color: white;
        font-size: 0.9em;
    }

    div.highlight {
        font-size: 0.7em;
    }

    code {
        /* will target single backtick */
        font-size: 1.3em;
    }

    footer {
        font-size: 0.4em;
    }
}
