body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 1rem;
  margin: 0;
}

header {
    border-bottom: 1px solid #222;
    margin-bottom: 0rem;
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: #00e;
    text-decoration: none;
}

.page{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
    align-content: center;
}

.sidebar{
    background: white;
    padding: 1rem;
    height: 100%;
    min-height: 100vh;
}

.content{
    background: gray;
    padding: 1rem;
    height: 100%;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

li.collapse ul{
    display: none;
}

li.collapse.open ul{
    display: block;
}

blockquote {
    border-left: 0.4em solid rgba(#57cc8a, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: #242930;
}
