body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0rem;
  margin: 0;
  font-size: 1em;
}

header {
    border-bottom: 3pt solid #222;
    margin-bottom: 0rem;
    padding: 1rem;
    line-height: 0;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    font-size: .3cm;
    border-top: 3pt solid #222;
    background: white;
    line-height: 1;
}

a {
    color: #00e;
    text-decoration: none;
}

.page{
    display: grid;
    grid-template-columns: 16% 1% 83%;
    justify-content: center;
    align-content: center;
    margin-top: 4rem;
}

.sidebar{
    background: white;
    padding: 1rem;
    height: 100%;
    min-height: 100vh;
}

.content{
    background: white;
    padding: 1rem;
    height: 100%;
    min-height: 100vh;
}

li.collapse {
    list-style-type: none;
}

li.collapse ul{
    list-style-type: disc;
}

li.collapse ul{
    display: none;
}

li.collapse.open ul{
    display: block;
}

blockquote {
    border-left: 0.4em solid rgba(#57cc8a, .8);
    margin: 1em 0em;
    padding: .5em 1em;
    background: #242930;
}

code {
    /* will target single backtick */
    color: green;
    font-size: 1.5em;
}

pre,
pre code {
    /* will target triple backtick */ 
}

/*** sidebar ***/
div.delimiter {
    width: 3pt;
    background-color: #222;
    cursor: col-resize;
}

div.delimiter:hover {
    background-color: rgb(99, 99, 99);
}
