<ul>
        {{ template "section-tree-nav" . }}
</ul>

{{ define "section-tree-nav" }}
{{ range $.Site.Sections }}

<div class="nav-section">
        <li class="collapse">
                {{ template "current-section_pages" . }}
        </li>
        <a href= "{{ .RelPermalink }}"><span>{{ .Section | title }}</span></a>
</div>

{{ end }}
{{ end }}


{{ define "current-section_pages" }}
<ul>
        {{ range .Pages.ByWeight }}
        {{ if .IsSection }}

        <div class="nav-section">
                <li class="collapse">

                        {{ template "current-section_pages" . }}
                </li>
                <a href= "{{ .RelPermalink }}"><span>{{ .Title }}</span></span></a>
        </div>

        {{ else }}

        <li><a href="{{ .RelPermalink }}"> {{ .Title }} </a></li>

        {{ end }}
        {{ end }}
</ul>
{{ end }}
