<ul>
    {{ template "section-tree-nav" . }}
</ul>

{{ define "section-tree-nav" }}
{{ range $.Site.Sections }}
<li class="collapse">
    <span>{{ .Section | title }}</span>
    {{ template "current-section_pages" . }}
</li>
{{ end }}
{{ end }}


{{ define "current-section_pages" }}
<ul>
    {{ range .Pages.ByWeight }}

    {{ if .IsSection }}
    <li class="collapse">
        <span>{{ .Title }}</span>
        {{ template "current-section_pages" . }}
    </li>

    {{ else }}

    <li><a href="{{ .Permalink}}"> {{ .Title }} </a></li>

    {{ end }}
    {{ end }}
</ul>
{{ end }}
